/* Base navbar styles */
.navbar {
  width: 100%;
  background-color: #121619;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 1.5rem;
}

a {
  margin-left: 2rem;
}

a:hover {
  color: orange;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 20px;
}

.leftSide img {
  height: 50px;
}

.hiddenLinks {
  display: none;
}

/* Right side container for cart and hamburger icon */
.rightSide {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightSide a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.cartContainer {
  position: relative;
}

.cartIcon {
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 1.8rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.cartIcon:hover {
  color: #f39c12;
}

.cartCount {
  position: absolute !important;
  top: -3px !important;
  right: 15px !important;
  background-color: black !important;
  color: white !important;
  border-radius: 50% !important;
  width: 20px !important;
  height: 20px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 12px !important;
  font-weight: bold !important;
  border: 2px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cartCount:empty {
  display: none;
}

.rightSide button {
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Navbar toggle button for mobile */
.navbarToggle {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none; 
}

.hamburgerIcon {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }


@media (max-width: 768px) {
  /* Hide the left side menu links by default */
  .leftSide {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 20px;
  }

  /* Add margin-left for a links in mobile view */
  .leftSide a {
    margin-left: 10rem;
  }

  /* Display the hamburger icon */
  .hamburgerIcon {
    display: block;
  }

  /* Toggle the visibility of menu when clicked */
  .leftSide.open {
    display: flex;
  }

  /* Ensure the cart icon is aligned correctly */
  .rightSide {
    justify-content: flex-end;
    width: 100%;
  }

  .cartIcon {
    margin-right: 34px;
    margin-top: 7px;
  }

  /* Style for the hamburger icon */
  .hamburgerIcon {
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  .cartCount {
    margin-right: 0.2rem;
    width: 16px; /* Smaller count bubble */
    height: 16px;
    font-size: 10px;
  }
}

.cartContainer {
  display: flex; /* Ensure it remains visible */
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
}

