.navbar {
  width: 100%;
  background-color: #121619;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 1.5rem;
}

a {
  margin-left: 2rem;
}

a:hover {
  color: orange;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 20px;
}

.leftSide img {
  height: 50px;
}

.hiddenLinks {
  display: none;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightSide a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.cartContainer {
  position: relative; 
}

.cartIcon {
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

.cartIcon:hover {
  color: #f39c12;
}

.cartCount {
  position: absolute !important;
  top: 25px !important;
  right: 13px !important;
  background-color: black !important; 
  color: white !important; 
  border-radius: 50% !important;
  width: 20px !important; 
  height: 20px !important; 
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; 
  font-size: 12px !important; 
  font-weight: bold !important; 
  border: 2px solid white; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.cartCount:empty {
  display: none; 
}

.rightSide button {
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.navbarToggle {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none; 
}
